.first_row{
    background-color: none;


    .first_decorative_div{
        width: 30px;
        height:30px;
       
        border-radius:50%;
        border:none;
        

    }

    .second_decorative_div{
        width: 30px;
        height:30px;
        
        border-radius:50%;
        border:none;
        
    }
}